<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TroubleQuestionMapper">
    
    <resultMap type="TroubleQuestion" id="TroubleQuestionResult">
        <result property="questionId"    column="question_id"    />
        <result property="userId"    column="user_id"    />
        <result property="questionContent"    column="question_content"    />
        <result property="questionImages"    column="question_images"    />
        <result property="answerContent"    column="answer_content"    />
        <result property="answerImages"    column="answer_images"    />
        <result property="questionType"    column="question_type"    />
        <result property="tags"    column="tags"    />
        <result property="importance"    column="importance"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectTroubleQuestionVo">
        select question_id, user_id, question_content, question_images, answer_content, answer_images, question_type, tags, importance, status, create_by, create_time, update_by, update_time, remark from trouble_question
    </sql>

    <select id="selectTroubleQuestionList" parameterType="TroubleQuestion" resultMap="TroubleQuestionResult">
        <include refid="selectTroubleQuestionVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="questionContent != null  and questionContent != ''"> and question_content like concat('%', #{questionContent}, '%')</if>
            <if test="questionImages != null  and questionImages != ''"> and question_images = #{questionImages}</if>
            <if test="answerContent != null  and answerContent != ''"> and answer_content like concat('%', #{answerContent}, '%')</if>
            <if test="answerImages != null  and answerImages != ''"> and answer_images = #{answerImages}</if>
            <if test="questionType != null  and questionType != ''"> and question_type = #{questionType}</if>
            <if test="tags != null  and tags != ''"> and tags like concat('%', #{tags}, '%')</if>
            <if test="importance != null"> and importance = #{importance}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectTroubleQuestionByQuestionId" parameterType="Long" resultMap="TroubleQuestionResult">
        <include refid="selectTroubleQuestionVo"/>
        where question_id = #{questionId}
    </select>

    <select id="selectFavoriteQuestionList" parameterType="TroubleQuestion" resultMap="TroubleQuestionResult">
        select tq.question_id, tq.user_id, tq.question_content, tq.question_images, 
               tq.answer_content, tq.answer_images, tq.question_type, tq.tags, tq.importance, tq.status, 
               tq.create_by, tq.create_time, tq.update_by, tq.update_time, tq.remark,
               tqf.create_time as favorite_time
        from trouble_question tq
        inner join trouble_question_favorite tqf on tq.question_id = tqf.question_id
        <where>
            <if test="userId != null"> and tq.user_id = #{userId}</if>
            <if test="questionContent != null and questionContent != ''"> and tq.question_content like concat('%', #{questionContent}, '%')</if>
            <if test="questionType != null and questionType != ''"> and tq.question_type = #{questionType}</if>
            <if test="tags != null and tags != ''"> and tq.tags like concat('%', #{tags}, '%')</if>
            <if test="importance != null"> and tq.importance = #{importance}</if>
        </where>
        order by tqf.create_time desc
    </select>
        
    <insert id="insertTroubleQuestion" parameterType="TroubleQuestion" useGeneratedKeys="true" keyProperty="questionId">
        insert into trouble_question
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="questionContent != null and questionContent != ''">question_content,</if>
            <if test="questionImages != null">question_images,</if>
            <if test="answerContent != null">answer_content,</if>
            <if test="answerImages != null">answer_images,</if>
            <if test="questionType != null">question_type,</if>
            <if test="tags != null">tags,</if>
            <if test="importance != null">importance,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="questionContent != null and questionContent != ''">#{questionContent},</if>
            <if test="questionImages != null">#{questionImages},</if>
            <if test="answerContent != null">#{answerContent},</if>
            <if test="answerImages != null">#{answerImages},</if>
            <if test="questionType != null">#{questionType},</if>
            <if test="tags != null">#{tags},</if>
            <if test="importance != null">#{importance},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateTroubleQuestion" parameterType="TroubleQuestion">
        update trouble_question
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="questionContent != null">question_content = #{questionContent},</if>
            <if test="questionImages != null">question_images = #{questionImages},</if>
            <if test="answerContent != null">answer_content = #{answerContent},</if>
            <if test="answerImages != null">answer_images = #{answerImages},</if>
            <if test="questionType != null">question_type = #{questionType},</if>
            <if test="tags != null">tags = #{tags},</if>
            <if test="importance != null">importance = #{importance},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where question_id = #{questionId}
    </update>

    <delete id="deleteTroubleQuestionByQuestionId" parameterType="Long">
        delete from trouble_question where question_id = #{questionId}
    </delete>

    <delete id="deleteTroubleQuestionByQuestionIds" parameterType="String">
        delete from trouble_question where question_id in 
        <foreach item="questionId" collection="array" open="(" separator="," close=")">
            #{questionId}
        </foreach>
    </delete>
</mapper>



